img {
  max-width: 300px;
}

.images-container {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 24px;
  flex-wrap: wrap;
  .image-card {
    padding: 12px;
    padding-bottom: 0px;
    background-color: #f8fafd;
    border-radius: 6px;
  }
}
